body {
      background-color: black;
      color: white;
      font-size: 20px;
      padding: 0 200px 0 200px;
}

h1 {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.center{
    text-align: center;
}


.merah {
    color: red;
}

.padding {
    padding: 0 50px 0 50px;
}
